@using EntityLayer.Concrete
@model List<Portfolio>



<div class="section px-2 px-lg-4 pt-5" id="portfolio">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Portfolio </h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="grid-sizer"></div>
         
            @foreach(var item in Model)
            {
                <div class="grid-item">
                    <a href="https://github.com">
                        <figure class="portfolio-item">
                            <a href="https://github.com/suleymannmeral/onlineTaxiAppointmentSystem" target="_blank">
                                <img src="~/super-folio_free_1-2-0/images/portfolio/onlineTaksiLogo.png" class="rounded-3" height="200px" data-bp="images/portfolio/ot5.png" data-caption="Example of an optional caption." />
</a>                            <figcaption>
                                <h4 class="h5 mb-0">@item.Name</h4>
                                <div>GitHub.com</div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
           
        
          
        </div>
    </div>
</div>