@using EntityLayer.Concrete
@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int counter = 0;
}



<div class="card-header border-0">
    <h3 class="mb-2 text-center">@ViewBag.tt</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Mail</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
                <th scope="col">Mesajı Gör</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;

                <tr>

                    <td class="text-white">
                        @counter
                    </td>
                    <td class="text-white">
                        @item.Name
                    </td>
                    <td class="text-white">
                        @item.Mail

                    </td>
                    <td class="text-white">@(((DateTime)item.Date).ToString("dd/MM/yyyy"))</td>




                    <td>
                        <a href="/Contact/DeleteContactMessage/@item.MessageID" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/Education/EditEducation/@item.MessageID" class="btn btn-warning">Edit</a>


                    </td>
                </tr>

            }

        </tbody>
    </table>
    <br />
    <a href="/Education/AddEducation" class="btn btn-danger mb-3">Add Experience</a>
</div>
