
@{
    ViewData["Title"] = "_WriterLayout";
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Areas/Writer/Views/Default/PartialHead.cshtml")
@await Html.PartialAsync("/Areas/Writer/Views/Default/PartialNavbar.cshtml")
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("/Areas/Writer/Views/Default/PartialThemeSettings.cshtml")
            @await Html.PartialAsync("/Areas/Writer/Views/Default/RightSidebar.cshtml")
            @await Html.PartialAsync("/Areas/Writer/Views/Default/PartialSidebar.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
  @await Html.PartialAsync("/Areas/Writer/Views/Default/PartialScripts.cshtml")
</body>

</html>
