 <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/WriterDashboard/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/ReceiverMessage" >
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Received Messages</span>
                        </a>
                   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SenderMessage">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Sent Messages</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SendMessage">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Create Message</span>
                        </a>

                    </li>



        <li class="nav-item">
                        <a class="nav-link"  href="/Writer" >
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Announcements</span>
                            
                        </a>
                      
                    </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title"> Profile</span>

            </a>

        </li>
     
                </ul>
            </nav>