@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity
@inject UserManager<WriterUser> UserManager
@inject SignInManager<WriterUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    bool isAdmin = roles.Contains("Admin"); 
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/WriterDashboard/Index">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/ReceiverMessage" >
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Received Messages</span>
                        </a>
                   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SenderMessage">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Sent Messages</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SendMessage">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Create Message</span>
                        </a>

                    </li>



        <li class="nav-item">
                        <a class="nav-link"  href="/Writer/" >
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Announcements</span>
                            
                        </a>
                      
                    </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title"> Profile</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterTestimonial/AddTestimonial">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Add Testimonial</span>

            </a>

        </li>
        @* **Admin rolündeki kullanıcıya özel link** *@
        @if (isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link" href="/AdminDashboard/Index">
                    <i class="icon-layout menu-icon"></i>
                    <span class="menu-title">Admin Panel</span>
                </a>
            </li>
        }
     
                </ul>
            </nav>