@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Messages</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            count++;
                            <tr>
                            <th>@count</th>
                            <th>@item.Subject</th>
                           
                            <td>@(((DateTime)item.Date).ToString("dd-MM-yyyy"))</td>
                           
                            <td>
                                <button class="btn btn-outline-primary"
                                        onclick="showDetails('@item.Content')">
                                    Details
                                </button>
                            </td>
                                <th><a href="/Writer/Message/DeleteMessage/@item.WriterMessageID" class="btn btn-outline-danger">Delete</a></th>

                        </tr>
                    }
                       
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function showDetails(content) {
        Swal.fire({
            text: content,
            icon: 'info',
            confirmButtonText: 'OK'
        });
    }
</script>
