@using EntityLayer.Concrete
@model List<Documents>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-2 text-center">Document Panel</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Title</th>
                <th scope="col">PDF Link</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               

                <tr>

                    <td class="text-white">
                        @item.CourseName
                    </td>
                    <td class="text-white">
                        @item.Title
                    </td>
                    <td class="text-white">
                        @item.PdfLink

                    </td>
                  


                    <td>
                        <a href="/Document/Default/DeleteDocument/@item.DocumentID" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/Document/Default/EditDocument/@item.DocumentID" class="btn btn-warning">Edit</a>


                    </td>
                </tr>

            }

        </tbody>
    </table>
    <br />
    <a href="/Education/AddEducation" class="btn btn-danger mb-3">Add Experience</a>
</div>
