@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int counter = 0;
}



<div class="card-header border-0">
    <h3 class="mb-0 text-center">Experience List Table</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
            
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Job Title</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>

                    <td class="text-white">
                        @counter
                    </td>
                    <td class="text-white">
                        @item.Name
                    </td>
                    <td class="text-white">
                       @item.Date

                    </td>
                    <td class="text-white">
                        @item.Description

                    </td>
                    <td class="text-white">
                        @item.JobTitle

                    </td>

                    <td>
                        <a href="/Experience/DeleteExperience/@item.ExperienceID" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/Experience/EditExperience/@item.ExperienceID" class="btn btn-warning">Edit</a>


                    </td>
                </tr>

            }

        </tbody>
    </table>
    <br />
    <a href="/Experience/AddExperience" class="btn btn-success">Add Experience</a>
</div>