@using EntityLayer.Concrete
@model List<Feature>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">Experience List Table</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
              
                <th scope="col">#</th>
                <th scope="col">Header</th>
                <th scope="col">Name</th>
                <th scope="col">Title</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                 
                    <td>
                        @item.FeatureID
                    </td>
                    <td>
                        @item.Header
                    </td>
                    <td>
                        @item.Name

                    </td>
                    <td>
                        @item.Title

                    </td>
               
                   
                    <td>
                        <a href="/Feature/EditFeature/@item.FeatureID" class="btn btn-warning">Edit</a>


                    </td>
                </tr>

            }

        </tbody>
    </table>
    <br />
 
</div>