
@{
    Layout = null;
}


<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">
    <style>
    .aimage {
        position: relative;
        width: 50%;
    }

    .imagef {
        display: block;
        width: 100%;
        
    }

    .overlayf {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("https://i.pinimg.com/originals/06/60/ef/0660efe82fa3da42ed56eef013171835.gif");
        overflow: hidden;
        width: 99%;
        height: 0;
        transition: 1.5s ease;
        border-radius:15px;
      
        
    }

    .aimage:hover .overlayf {
        height: 100%;
    }

    </style>

@await Html.PartialAsync("HeaderPartial")

<body id="top">
    @await Html.PartialAsync("NavbarPartial")
    <div class="page-content">
        <div id="content">
            @await Component.InvokeAsync("FeatureList")
            @await Component.InvokeAsync("AboutList")
            @await Component.InvokeAsync("ServiceList")
            @await Component.InvokeAsync("SkillList")
            @await Component.InvokeAsync("PortfolioList")
            @await Component.InvokeAsync("ExperienceList")
            @await Component.InvokeAsync("EducationList")
            @await Component.InvokeAsync("TestimonialList")
            <div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
                <div class="container-narrow">
                    <div class="text-center mb-5">
                        <h2 class="marker marker-center">Contact Me</h2>
                    </div>
                    <div class="row">
                        @await Html.PartialAsync("SendMessage")

                        @await Component.InvokeAsync("ContactList")
                    </div>
      
      <!-- FooterStart-->
          @await Html.PartialAsync("FooterPartial")

      <!-- FooterEnd-->
        </div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
            <!-- ScriptsStart-->
            @await Html.PartialAsync("ScriptsPartial")

            <!-- ScriptsEnd-->
</body>
</html>

